// Contribute improvements to https://github.com/HiredThought/wardley-mapping-kumu

// Basic settings
@settings {
  template: system;
  background-color: #fff;
}

element {
  border-width: 2;
  border-color: #000;
  color: #fff;
}
connection {
  arrow-visibility: 0;
  path-opacity: 0.85;
  curvature: 0;
  size: 2;
}
}

#background {
  image-url: url(https://raw.githubusercontent.com/bemosior/wardley-mapping-kumu/master/Wardley_Mapping_Kumu.jpg);
  layer: background;
  shape: rectangle;
  width: 1000;
  height: 572;
  color: transparent;
  border-width: 0.5;
  image-size: contain;
  image-resolution: original;
  label-visibility: none;
}
