// Contribute improvements to https://github.com/HiredThought/wardley-mapping-kumu

// Basic settings
@settings {
  template: system;
  background-color: #fff;
  
  // It's apparently more efficient to put these settings here instead of in element or connection blocks below.
  element-border-width: 2;
  element-border-color: #000;
  element-color: #fff;
  
  connection-arrow-visibility: hidden;
  connection-path-opacity: 0.85;
  connection-curvature: 0;
  connection-size: 2;
}

element.annotation {
  color: transparent;
  border-width: 0
  font-color: #cc2314;
  font-weight: bold;
  font-size: 28;
  text-align: center;
}

element.future {
  border-color: #cc2314;
}

element.inertia {
  shape: rectangle;
  color: #000;
  height: 36;
  width: 8;
  label-visibility: hidden;
}

connection.future {
  color: #cc2314;
}

connection.change {
  color: #cc2314;
  arrow-visibility: visible;
  arrow-min-width: 12;
  pattern: dashed;
}

#background {
  // Use a default template
  image-url: url(https://raw.githubusercontent.com/bemosior/wardley-mapping-kumu/master/Wardley_Mapping_Kumu.jpg);
  // image-url: url(https://raw.githubusercontent.com/bemosior/wardley-mapping-kumu/master/Wardley_Mapping_Kumu_Activities.jpg);
  // image-url: url(https://raw.githubusercontent.com/bemosior/wardley-mapping-kumu/master/Wardley_Mapping_Kumu_Practices.jpg);
  // image-url: url(https://raw.githubusercontent.com/bemosior/wardley-mapping-kumu/master/Wardley_Mapping_Kumu_Data.jpg);
  // image-url: url(https://raw.githubusercontent.com/bemosior/wardley-mapping-kumu/master/Wardley_Mapping_Kumu_Knowledge.jpg);
  
  // Use a minimal template
  // image-url: url(https://raw.githubusercontent.com/bemosior/wardley-mapping-kumu/master/Wardley_Mapping_Kumu_Minimal.jpg);
  // image-url: url(https://raw.githubusercontent.com/bemosior/wardley-mapping-kumu/master/Wardley_Mapping_Kumu_Minimal_Activities.jpg);
  // image-url: url(https://raw.githubusercontent.com/bemosior/wardley-mapping-kumu/master/Wardley_Mapping_Kumu_Minimal_Practices.jpg);
  // image-url: url(https://raw.githubusercontent.com/bemosior/wardley-mapping-kumu/master/Wardley_Mapping_Kumu_Minimal_Data.jpg);
  // image-url: url(https://raw.githubusercontent.com/bemosior/wardley-mapping-kumu/master/Wardley_Mapping_Kumu_Minimal_Knowledge.jpg);
  



  layer: background;
  shape: rectangle;
  width: 1000;
  height: 572;
  color: transparent;
  border-width: 0.5;
  image-size: contain;
  image-resolution: original;
  label-visibility: none;
}
