// Contribute improvements to https://github.com/HiredThought/wardley-mapping-kumu

// Basic settings
@settings {
  template: system;
}

connection {
  curvature: 0;
}

#background {
  image-url: url(https://raw.githubusercontent.com/bemosior/wardley-mapping-kumu/master/Wardley_Mapping_Kumu.jpg);
  layer: background;
  shape: rect;
  size: 500;
  color: transparent;
  image-size: contain;
  image-resolution: original;
  label-visibility: none;
}


